* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:600,700|Quicksand:500&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}

.bg-head {
  background: linear-gradient(rgba(11, 22, 44, 0.4),rgba(6, 19, 43, 0.4)), url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 padding: 100px 0;
 height: 100%;

}
.container {
  max-width: 1400px;
}
h1 {
    font-weight: 600;
   ;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    
}

section {
  padding: 6rem 0;
}
.header {
  color: #fff;
  padding: 100px 0;
  
}
.header h1 {
  font-size: 70px

}
.header p {
  font-size: 22px;
}
.countDown {
  margin-top: 50px;
  color: #ffffff;
  font-size: 40px;
}
.countdown-wrapper {
  height: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown-item {
    color: #ffffff;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 15px;
    padding: 50px;
    padding-top: 70px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #ffffff;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

.cta-register {
  padding: 8px 70px;
}


.stats {
  color: #fff;
  font-size: 1.8rem !important;
}